

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

  .div {
    background-color: #fff;
    display: flex;
    padding-bottom: 50px;
    flex-direction: column;
  }
  .div-2 {
    border-bottom: 1px solid #c9c9c9;
    background-color: #fff;
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 20px;
    padding: 30px 80px;
  }
  @media (max-width: 991px) {
    .div-2 {
      max-width: 100%;
      flex-wrap: wrap;
      padding: 0 20px;
    }
  }
  .div-3 {
    border-radius: 84px;
    background-color: #d9d9d9;
    display: flex;
    width: 121px;
    height: 60px;
    flex-direction: column;
  }
  .div-4 {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  @media (max-width: 991px) {
    .div-4 {
      max-width: 100%;
      flex-wrap: wrap;
    }
  }
  .div-5 {
    align-self: start;
    display: flex;
    margin-top: 18px;
    justify-content: space-between;
    gap: 20px;
  }
  @media (max-width: 991px) {
    .div-5 {
      max-width: 100%;
      flex-wrap: wrap;
    }
  }
  .div-6 {
    color: #111;
    white-space: nowrap;
    flex-grow: 1;
    padding-bottom: 12px;
    font: 400 20px Inter, sans-serif;
  }
  @media (max-width: 991px) {
    .div-6 {
      white-space: initial;
    }
  }
  .div-7 {
    color: #111;
    white-space: nowrap;
    flex-grow: 1;
    padding-bottom: 12px;
    font: 400 20px Inter, sans-serif;
  }
  @media (max-width: 991px) {
    .div-7 {
      white-space: initial;
    }
  }
  .div-8 {
    color: #111;
    aspect-ratio: 1.78;
    padding-bottom: 12px;
    font: 400 20px Inter, sans-serif;
  }
  .div-9 {
    color: #111;
    flex-grow: 1;
    padding-bottom: 12px;
    font: 400 20px Inter, sans-serif;
  }
  .div-10 {
    color: #111;
    white-space: nowrap;
    flex-grow: 1;
    padding-bottom: 12px;
    font: 400 20px Inter, sans-serif;
  }
  @media (max-width: 991px) {
    .div-10 {
      white-space: initial;
    }
  }
  .div-11 {
    border-radius: 84px;
    background-color: #d9d9d9;
    display: flex;
    width: 60px;
    height: 60px;
    flex-direction: column;
  }
  .div-12 {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 0 80px;
  }
  @media (max-width: 991px) {
    .div-12 {
      max-width: 100%;
      padding: 0 20px;
    }
  }
  .img {
    aspect-ratio: 3.7;
    object-fit: contain;
    object-position: center;
    width: 100%;
    margin: 0 19px;
  }
  @media (max-width: 991px) {
    .img {
      max-width: 100%;
      margin-right: 10px;
    }
  }
  .div-13 {
    color: #19ae54;
    margin: 84px 19px 0;
    font: 400 32px Inter, sans-serif;
  }
  @media (max-width: 991px) {
    .div-13 {
      max-width: 100%;
      margin: 40px 10px 0 0;
    }
  }
  .div-14 {
    border-radius: 8px;
    border: 1px dashed #b1b1b1;
    margin: 14px 19px 0;
    padding: 1px 0 1px 80px;
  }
  @media (max-width: 991px) {
    .div-14 {
      max-width: 100%;
      margin-right: 10px;
      padding-left: 20px;
    }
  }
  .div-15 {
    gap: 20px;
    display: flex;
  }
  @media (max-width: 991px) {
    .div-15 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 38%;
    margin-left: 0px;
  }
  @media (max-width: 991px) {
    .column {
      width: 100%;
    }
  }
  .div-16 {
    display: flex;
    margin-top: 63px;
    flex-direction: column;
  }
  @media (max-width: 991px) {
    .div-16 {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  .div-17 {
    align-self: center;
    display: flex;
    width: 508px;
    max-width: 100%;
    justify-content: space-between;
    gap: 20px;
  }
  @media (max-width: 991px) {
    .div-17 {
      flex-wrap: wrap;
    }
  }
  .div-18 {
    display: flex;
    flex-grow: 1;
    flex-basis: 0%;
    flex-direction: column;
  }
  .div-19 {
    color: #000;
    white-space: nowrap;
    font: 500 16px Inter, sans-serif;
  }
  @media (max-width: 991px) {
    .div-19 {
      white-space: initial;
    }
  }
  .div-20 {
    border-radius: 50%;
    align-self: center;
    display: flex;
    margin-top: 12px;
    width: 21px;
    height: 21px;
    flex-direction: column;
  }
  .div-21 {
    align-self: start;
    display: flex;
    flex-grow: 1;
    flex-basis: 0%;
    flex-direction: column;
  }
  .div-22 {
    color: #bdbdbd;
    white-space: nowrap;
    font: 500 16px Inter, sans-serif;
  }
  @media (max-width: 991px) {
    .div-22 {
      white-space: initial;
    }
  }
  .div-23 {
    border-radius: 50%;
    align-self: center;
    display: flex;
    margin-top: 12px;
    width: 21px;
    height: 21px;
    flex-direction: column;
  }
  .div-24 {
    display: flex;
    flex-grow: 1;
    flex-basis: 0%;
    flex-direction: column;
  }
  .div-25 {
    color: #bdbdbd;
    text-align: center;
    white-space: nowrap;
    font: 500 16px Inter, sans-serif;
  }
  @media (max-width: 991px) {
    .div-25 {
      white-space: initial;
    }
  }
  .div-26 {
    border-radius: 50%;
    align-self: center;
    display: flex;
    margin-top: 15px;
    width: 21px;
    height: 21px;
    flex-direction: column;
  }
  .div-27 {
    color: #bcbcbc;
    white-space: nowrap;
    align-items: start;
    border-radius: 4px;
    background-color: #f2f2f2;
    margin-top: 40px;
    justify-content: center;
    padding: 22px 34px;
    font: 400 16px Inter, sans-serif;
  }
  @media (max-width: 991px) {
    .div-27 {
      white-space: initial;
      max-width: 100%;
      padding: 0 20px;
    }
  }
  .div-28 {
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
    gap: 20px;
  }
  @media (max-width: 991px) {
    .div-28 {
      max-width: 100%;
      flex-wrap: wrap;
    }
  }
  .div-29 {
    color: #bcbcbc;
    white-space: nowrap;
    align-items: start;
    border-radius: 4px;
    background-color: #f2f2f2;
    flex-grow: 1;
    justify-content: center;
    padding: 24px 34px;
    font: 400 16px Inter, sans-serif;
  }
  @media (max-width: 991px) {
    .div-29 {
      white-space: initial;
      padding: 0 20px;
    }
  }
  .div-30 {
    color: #bcbcbc;
    white-space: nowrap;
    align-items: start;
    border-radius: 4px;
    background-color: #f2f2f2;
    flex-grow: 1;
    justify-content: center;
    padding: 22px 34px;
    font: 400 16px Inter, sans-serif;
  }
  @media (max-width: 991px) {
    .div-30 {
      white-space: initial;
      padding: 0 20px;
    }
  }
  .div-31 {
    color: #bcbcbc;
    white-space: nowrap;
    align-items: start;
    border-radius: 4px;
    background-color: #f2f2f2;
    margin-top: 40px;
    justify-content: center;
    padding: 22px 38px;
    font: 400 16px Inter, sans-serif;
  }
  @media (max-width: 991px) {
    .div-31 {
      white-space: initial;
      max-width: 100%;
      padding: 0 20px;
    }
  }
  .div-32 {
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
    gap: 20px;
  }
  @media (max-width: 991px) {
    .div-32 {
      max-width: 100%;
      flex-wrap: wrap;
    }
  }
  .div-33 {
    color: #bcbcbc;
    align-items: start;
    border-radius: 4px;
    background-color: #f2f2f2;
    flex-grow: 1;
    justify-content: center;
    padding: 22px 38px;
    font: 400 16px Inter, sans-serif;
  }
  @media (max-width: 991px) {
    .div-33 {
      padding: 0 20px;
    }
  }
  .div-34 {
    color: #bcbcbc;
    align-items: start;
    border-radius: 4px;
    background-color: #f2f2f2;
    flex-grow: 1;
    justify-content: center;
    padding: 23px 38px;
    font: 400 16px Inter, sans-serif;
  }
  @media (max-width: 991px) {
    .div-34 {
      padding: 0 20px;
    }
  }
  .div-35 {
    color: #bcbcbc;
    white-space: nowrap;
    align-items: start;
    border-radius: 4px;
    background-color: #f2f2f2;
    margin-top: 40px;
    justify-content: center;
    padding: 22px 38px;
    font: 400 16px Inter, sans-serif;
  }
  @media (max-width: 991px) {
    .div-35 {
      white-space: initial;
      max-width: 100%;
      padding: 0 20px;
    }
  }
  .div-36 {
    color: #bcbcbc;
    align-items: start;
    border-radius: 4px;
    background-color: #f2f2f2;
    margin-top: 40px;
    justify-content: center;
    padding: 24px 38px;
    font: 400 16px Inter, sans-serif;
  }
  @media (max-width: 991px) {
    .div-36 {
      max-width: 100%;
      padding: 0 20px;
    }
  }
  .div-37 {
    color: #fff;
    white-space: nowrap;
    justify-content: center;
    border-radius: 4px;
    background-color: #19ae54;
    align-self: center;
    margin-top: 40px;
    padding: 16px 30px;
    font: 400 16px Inter, sans-serif;
  }
  @media (max-width: 991px) {
    .div-37 {
      white-space: initial;
      padding: 0 20px;
    }
  }
  .column-2 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 62%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-2 {
      width: 100%;
    }
  }
  .img-2 {
    aspect-ratio: 0.85;
    object-fit: contain;
    object-position: center;
    width: 100%;
    flex-grow: 1;
  }
  @media (max-width: 991px) {
    .img-2 {
      max-width: 100%;
      margin-top: 30px;
    }
  }
